<div class="container">
    <div class="row center">
        <div class="col s1">
            <a href="{{ path('clm_homepage') }}" class="black-text"><i class="material-icons">pets</i></a>
        </div>
        <div class="col s10">
            <a href="{{ path('login') }}">Connexion</a> <!-- Variable pour connexion/intervenant/etudiant/Admin -->
        </div>
        <div class="col s1">
            <i class="material-icons">format_align_center</i>
        </div>
    </div>
</div>