{% extends "::base.html.twig" %}


{% block content %}

    {# S'il y a une erreur, on l'affiche dans un joli cadre #}
    {% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}

    {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
    <div class="container">
        <form action="{{ path('login_check') }}" method="post">
            <div class="row">
                <div class="col s6 offset-s3">
                    <label for="username">Login :</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}"/>
                </div>
                <div class="col s6 offset-s3">
                    <label for="password">Mot de passe :</label>
                    <input type="password" id="password" name="_password"/>
                </div>
            </div>
            <div class="col s6 offset-s3 center">
                <button class="btn waves-effect waves-light light-green lighten-3" type="submit">Connexion
                    <i class="material-icons right">arrow_forward</i>
                </button>
            </div>
        </form>
    </div>

{% endblock %}