{% extends "::base.html.twig" %}

<div class="container">
    <div class="row center">
        <div class="col s6 offset-s3">
            <h3>{{ project.nom }}</h3>
        </div>
    </div>

    <table class="responsive-table stripped centered">
        <thead>
        <tr>
            <th>Nom Equipe</th>
            <th>Nb Jeton</th>
            <th>En attente</th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in projects %} <!-- recuperer les tickets du projet / PENSER a classer les projets par effectue=false en haut -->
            <a href="#" classe="collection-item"> <!-- pas sur si cela marche -->
            <tr>
                <td>{{ ticket.equipe.nom }}</td>
                <td>{{ ticket.equipe.credit }}</td>
                {% if ticket.effectue is false %}
                <td><span class="new badge"></span></td>
                {% else %}
                <td></td> <!-- utile ? -->
                {% endif %}
            </tr>
            </a>
        {% endfor %}
        </tbody>
    </table>
</div>