{% extends "::base.html.twig" %}

{% block content %}
    {% if ticket is defined and ticket is not null %}
        <h2>{{ ticket.nom }}</h2>
        <p>{{ ticket.description }}</p>
    {% endif %}
{% endblock %}