{% extends "::base.html.twig" %}

{% block content %}
    <h3>Liste des tickets</h3>
    <div class="row">
        {% if tickets|length <= 0 %}
            <p>Aucun ticket</p>
        {% endif %}
        {% for ticket in tickets %} <!-- récuperer les tickets de l'équipe de l'étudiant -->
            <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{ ticket.titre }}</span>
                        <p>{{ ticket.contenu }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ path('clm_ticket_edit', {'idTicket' : ticket.id}) }}">Modifier</a>
                        <a href="{{ path('clm_ticket_details', {'idTicket' : ticket.id}) }}">Détails</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}